body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
   
  
  }
  
  header{
    background-color:rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 0 0 3px #000;
    position:relative;
    height: 100px;
    
  }
  
  
  header li  
  {
    display: inline-flex;
    height: 5px;
    padding-top: 1%;
    font-size: 18px;
  }
  
  
  
  
  ul{
    display: flex;
    Flex-wrap: wrap;
  justify-content: center;
  list-style-type: disc;
     
      padding-inline-start: 0px;
  }
  
  
  header li a {
  text-decoration: none;
  color: rgb(71, 71, 71);
  padding: 10px;
  
  }
  
  
  
  li a::after{
    content: '';
    width:0;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: auto;
    display: block;
    display: absolute;
   
  }
  
  li a:hover::after {
    width: 100%;
    transition: width 0.2s linear;
    margin-top: 2px;
  
  }
  
  li a:hover{
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  
  
  
  header img {
    display: inline-flex;
    width: 400px;
    align-content: center;
    margin-top: 10px;
  }
  
  
  
  body{
  font-family: 'Times New Roman', 'sans-serif';
       background:rgb(255, 255, 255);
       
       
  }
   .active {
    font-weight: bold;
   }


  
  
   h1{
    font-size: 50px;
    font-weight:lighter;
    color:rgb(66, 66, 66);
   
    margin-top:2em;
    cursor: default;
    margin-bottom: -30px;
   }
  
   section p{
    font-size: 25px;
    font-style: italic;
    cursor: default;
    color: rgb(66, 66, 66);
  
   }
  
   footer{
    margin-top: 100px;
   }
  
  
  
  
  
  .frame {
    margin-top: 5em;
    float: right;
  }